.button {
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.button:active {
    transition: all 0.3s ease;
    box-shadow: 1px 2px 0 0 var(--btn-border-color);
}

.primary {
    border: 1px solid var(--btn-border-color);
    box-shadow: 2px 4px 0 0 var(--btn-border-color);
    background-color: black;
    color: white;
}

.secondary {
    border: 1px solid var(--btn-border-color);
    box-shadow: 2px 4px 0 0 var(--btn-border-color);
    background-color: white;
    color: black;
}

.disabled {
    border: 1px solid var(--btn-border-color);
    box-shadow: 2px 4px 0 0 var(--btn-border-color);
    background-color: rgba(0, 0, 0, 0.5);
    color: gray; 
    border: 1px solid rgba(0, 0, 0, 0.5); 
    box-shadow: none;
    cursor: not-allowed;
}


.icon {
    border: 1px solid var(--btn-border-color);
    box-shadow: 2px 4px 0 0 var(--btn-border-color);
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}

.transaprent {
    border: 1px solid var(--btn-border-color);
    box-shadow: 2px 4px 0 0 var(--btn-border-color);
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
}
