.project-page {
    font-family: 'Onest Variable', sans-serif;
    width: 100%;
    max-width: 75rem;
    margin: 2rem auto;
    
    
    .markdown-content {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 1.5rem;
        
            img {
                width: 100%;
                max-height: 500px;
                object-fit: cover;
                aspect-ratio: initial;
                border-radius: 1rem;
            }
        
            a {
                padding: 0.5rem;
                border-radius: 0.5rem;
                font-size: 1.5rem;
                cursor: pointer;
        
                border: 1px solid var(--btn-border-color);
                box-shadow: 2px 4px 0 0 var(--btn-border-color);
                background-color: black;
                color: white;
            }

            p {
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 2.25rem;
            }
    }
}