html {
  .astro,
  .html {
    background-color: #7f4932;
    transition: var(--transition-bg);
  }

  .css {
    background-color: #324b7f;
    transition: var(--transition-bg);
  }

  .tailwindcss,
  .typescript,
  .react {
    background-color: #32547f;
    transition: var(--transition-bg);
  }

  .sass {
    background-color: #602957;
    transition: var(--transition-bg);
  }

  .open-props {
    background-color: #3a4367;
    transition: var(--transition-bg);
  }

  .javascript {
    background-color: #665e24;
    transition: var(--transition-bg);
  }

  .php {
    background-color: #616161;
    transition: var(--transition-bg);
  }

  .wordpress {
    background-color: #3a4367;
    transition: var(--transition-bg);
  }

  .firebase {
    background-color: #7f6932;
    transition: var(--transition-bg);
  }

  .pwa {
    background-color: #c4c4c4;
    color: #000;
    transition: var(--transition-bg), var(--transition-text);
  }
}

html.dark {
  .astro,
  .html {
    background-color: #ffbc96;
  }

  .css {
    background-color: #1c80bf5e;
  }

  .tailwindcss,
  .typescript,
  .react {
    background-color: #bddaff;
  }

  .sass {
    background-color: color-mix(in srgb, #602957, #fff 70%);
  }

  .open-props {
    background-color: #c1cbf1;
  }

  .javascript {
    background-color: #e2da9a;
  }

  .php {
    background-color: #cacaca;
  }

  .wordpress {
    background-color: #b1b8d1;
  }

  .firebase {
    background-color: #ffdd88;
  }
}
