---
import { t } from 'i18n:astro'
import Layout from '@layouts/Layout.astro'
import Experience from '@pages/_home/Experience.astro'
import Hero from '@pages/_home/Hero.astro'

const options = {
  title: t('common:title'),
  description: t('common:description')
}
---

<Layout options={options}>
  <main>
    <Hero />
    <Experience />
  </main>
</Layout>

<style>
  main {
    max-width: 1054px;
    margin-inline: auto;
  }
</style>
