---
import { t } from 'i18n:astro'
import Layout from '@layouts/Layout.astro'

const options = {
  title: t('common:title'),
  description: t('common:description')
}
---

<Layout options={options}>
  <p>Hello</p>
</Layout>
